{% extends "_layout.html" %}

{%- block title -%}
Sign up - 銀座堂仮想 LAN サービス
{%- endblock -%}

{%- block content -%}
<section class="vstack">
  <h1>Sign up</h1>
  <div role="alert" data-variant="warning">
    <strong>※1</strong>
    現時点では NTT 東日本株式会社の提供するフレッツ光およびコラボ光のみを対象としています。
  </div>
  <div role="alert" data-variant="warning">
    <strong>※2</strong>
    銀座堂仮想 LAN サービスはまだトライアルサービスの段階です。
    事情によりサービスを終了する可能性がありますので予めご了承ください。
  </div>
  <p></p>
  <p>現在、オンラインでのサインアップ機能は提供していません。</p>
  <p>利用開始をご希望の方は、以下の連絡先まで空メールを送信しお電話ください。</p>
  <div class="card">
    <h3>連絡先</h3>
    <ul>
      <li><strong>メールアドレス</strong>: info [at] ginzado.ne.jp</li>
      <li><strong>電話番号</strong>: 0256-33-2346</li>
      <li><strong>担当</strong>: 浅間</li>
    </ul>
  </div>
</section>
{%- endblock -%}
