{% extends "_layout.html" %}

{%- block title -%}
VTEPs - 銀座堂仮想 LAN サービス
{%- endblock -%}

{%- block content -%}
<section class="vstack">
  <h1>VTEPs</h1>
{%- if message != "" -%}
  <article class="danger">{{ message }}</article>
{%- endif -%}

  <form method="post" class="card vstack">
    <input type="hidden" name="action" value="create">
    <h3>Create VTEP</h3>
{%- if is_admin -%}
    <label>Owner
      <select name="owner_account_id">
{%-   for owner in owner_options -%}
        <option value="{{ owner.id }}">{{ owner.mail_addr }}</option>
{%-   endfor -%}
      </select>
    </label>
{%- endif -%}
    <label>Description <input name="description"></label>
    <label>VTEP password <input name="password" type="password" required></label>
    <div><button type="submit">Create</button></div>
  </form>

  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
{%- if is_admin -%}
          <th>Owner</th>
{%- endif -%}
{%- if is_admin -%}
          <th>Owned VNIs</th>
          <th>Others' VNIs</th>
{%- else -%}
          <th>VNIs</th>
{%- endif -%}
          <th>State</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
{%- for row in rows -%}
        <form method="post">
          <input type="hidden" name="vtep_name" value="{{ row.name }}">
          <tr>
            <td>{{ row.name }}</td>
{%-   if is_admin -%}
            <td>{{ row.owner_mail_addr }}</td>
{%-   endif -%}
            <td>
{%-   for choice in row.owned_choices -%}
              <label class="vni"><input type="checkbox" name="vnis" value="{{ choice.vni }}" {% if choice.checked %}checked{% endif %}>{{ choice.vni }}</label>
{%-   endfor -%}
            </td>
{%-   if is_admin -%}
            <td>
{%-     for choice in row.other_choices -%}
              <label class="vni"><input type="checkbox" name="vnis" value="{{ choice.vni }}" {% if choice.checked %}checked{% endif %}>{{ choice.vni }}</label>
{%-     endfor -%}
            </td>
{%-   endif -%}
            <td>{{ row.state | safe }}</td>
            <td><input name="description" value="{{ row.description }}"></td>
            <td align="right">
              <button type="submit" name="action" value="update">Save</button>
              <button type="submit" name="action" value="delete" class="outline">Delete</button>
            </td>
          </tr>
        </form>
{%- endfor -%}
      </tbody>
    </table>
  </div>
</section>
{%- endblock -%}
